.box {
    width: 100%;
    border-radius: 24px;
    background-color: var(--surface-color);
    

    .receipt-image {
        width: 100%;
        padding: 24px;
        border-radius: 44px;
    }

    .text-box {
        padding: 24px;
    }

    h1 {
        font: var(--h1);
        color: var(--text-color-primary);
        margin-bottom: 16px;
    }

    h2 {
        font: var(--h2);
        color: var(--text-color-primary);
        margin-bottom: 16px;
    }

    p, ul {
        font: var(--text);
        color: var(--text-color-secondary);
        margin-bottom: 16px;
    }

    ul {
        list-style-type: none;
    }

    li {
        margin-bottom: 8px;
    }
}