* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #573824;
    --surface-color: #F0E8C2;

    --text-color-primary: #291B1A;
    --text-color-secondary: #573A37;
    --text-color-on-bg: #F0E8C2;

    --font-family: "Alice", serif;

    --h1: 40px/140% var(--font-family);
    --h2: 24px/150% var(--font-family);
    --text: 16px 150% var(--font-family);
}

#bg-intro {
    background-image: url(../assets/images/bg-image.png);
    background-size: cover;
    background-color: rgba(87, 56, 36, 40);
    padding: 24px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 960px;
}